@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}


/* custom cursor */

ul li a {
  cursor: none;  
}


/* Cursor */
.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: white;
}

.cursor-outline {
  width: 40px;
  height: 40px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
}

.cursor-outline {
  transition: left 0.05s ease, top 0.05s ease;
}


/* big */
.cursor {
  display: none; /* Hide cursor by default */
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  transition: 0.1s;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
}

.cursor.big {
  transform: scale(4);
}

/* custom cursor */

/* heading*/
.heading-row{
  padding: 100px;
}

.heading-row .heading{
  display: flex;
  justify-content: center;

  font-family: 'Righteous', cursive;
  font-weight: 900;
  font-size: 50px; 
    color:#FFF; 
    text-transform: uppercase;
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }


 .heading-row .heading span{
  margin: 0 10px;
    color:  #f6705d;
  }

/* heading */



/* navbar */
.menubar {
  max-width: 30em;
  display: flex;
  position: fixed;
  z-index: 100;
  bottom: 30px; /* Adjust as needed to move the navbar up */
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-around;
  padding: 16px 0;
  background-color: #434343;
  border-radius: 30px;
}

.menubar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #333333, -5px -5px 10px #555555;
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0 10px; /* Add space between icons */
}

.menubar a:active {
  box-shadow: 5px 5px #333333 inset, -5px -5px 10px #555555 inset;
}
/* navbar */

/* particle.js */
#particles-js-hero{

  background-color: #2C2C2C; 

}

#particles-js-background{
  background-color: #242627;
  height: 100vh;


}

#particles-js-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure particles are behind other content */
}

#hero{
  width: 100%;
  color: #FFFFFF;
  padding: 100px 0;
}

.center{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.header1 {
  font-family: 'Righteous', cursive;
  font-size: 4.5vw;
}



.header4 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.4vw;
}

.hero p{
  font-size: 1.6rem;
  font-weight: 700;
}

.hero p span{
  color: #b1a9a9;
  font-weight: 500;
}

.image {
  border-radius: 50%;
}

.hero .center a i{
  color: #FFFFFF;
}

.icons {
  padding-left: 10px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2.8vw;
  color: inherit;
  margin: 0px 5px 0px 5px;
  transition: 0.5s;
}

.hero .center .icons i:hover{
  color: 
  #9ccc9c ;
}

/* Increase height for smaller devices */
@media (max-width: 768px) {
  #hero {
    height: 500px; 
  }
}

/* Increase height for smaller devices */
@media (max-width: 576px) {
  #hero {
    height: 600px;
  }
}

/* Additional adjustments for even smaller devices */
@media (max-width: 400px) {
  #hero {
    height: 700px;
  }
}


/* about */

.about {
  padding: 50px;
  position: relative;
  z-index: 1; 
}

.about .content-row h3{

  font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #FFFFFF; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;

}

.about .content-row p{
  font-family: 'Raleway', sans-serif;
    font-size: 18px; 
    color: #CCCCCC; 
    line-height: 1.5; 
}

.about .details-row ul{

  list-style: none;
  color: #FFF;
}

.about .details-row ul li{
  margin: 10px;
}

.about .details-row ul li ion-icon{
  color: #f6705d;
  font-size: 20px;
  margin-right: 15px;
}

.about .details-row ul li span{

  font-size: 20px;
  color: #94b9bf;

}

.about .img-about{
  padding: 10px;
  display: flex;
  justify-content: center;
}

.about .img-about img{
  height: 400px;
  border-radius: 25%;
  
}

/* about end */


/* skills section */

.skills{
  color: #FFF;
}

.skills h2{
  font-size: 45px;
  padding: 35px 0;
  font-weight: 900;
}

.skills p{

  font-family: 'Raleway', sans-serif;
    font-size: 18px; 
    color: #CCCCCC; 

}

.skills .button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background: #303030;
  display: flex; 
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 

}
.skills .toggle-btn{
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  padding: 10px 20px; 
}
.skills #btn{
  left: 0;
  top: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #006d00;
  border-radius: 30px;
}

.content div {
  display: none;
}

.skills button {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
}

.skills .content{
  padding: 40px;
}
.skills .icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
 
}

.skills .bg-shade{
  display: grid;
  grid-template-rows: repeat(4, 30px);
  grid-template-columns: repeat(4, 30px); 

}
.skills .bg-shade img {
  width: 70px; 
  height: 70px; 
  padding: 10px;
  background-color: #757575;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
  border-radius: 25%;
}

/* skills section end */







/* services */

.service{
  height: 100vh;
  color: #fff;
  padding: 50px;
}

.service swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

}

.service swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
}

.service swiper-slide img {
  display: block;
  width: 100%;
  height: 200px
}


:root {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff; /* Pagination bullet color */
}


/* card */

.card-article {
  border-radius: 1.25rem;
  overflow: hidden;
}

.service .card-data{
  height: 200px;
  background-color: #2e3136;
  padding: 1.5rem 2rem;
  text-align: center;
  position: relative;
}

.service .card-name {
  font-size:  1.5rem;
  color: #76ABAE;
  margin-bottom: .75rem;
}

.service .card-description {
  font-weight: 500;
  margin-bottom: 1.75rem;
  color: #fff;
}
